extends layout

block header
  meta(name="description", content="Git repository for #{name}.")
  title= name

block styles
  link(rel="stylesheet", href="#{process.env.STATIC_HOST}/css/prism.css")

block scripts
  script(src="#{process.env.STATIC_HOST}/js/prism.js")

block content
  article
    pre(class="language-#{type}")
      code #{content}
