doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Adam Heins")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic")
    link(rel="stylesheet", href="#{process.env.STATIC_HOST}/css/layout.css")

    block header
    block styles

  body
    .container
      .header
        .brand
          h1
            a.name(href="https://adamheins.com") Adam Heins
          .flavour Code, Math, and Electronics
        nav
          a(href="#{process.env.ROOT_DOMAIN}/blog") Blog
          a(href="#{process.env.ROOT_DOMAIN}/projects") Projects
          a(href="#{process.env.ROOT_DOMAIN}/resume") Résumé
          a(href="#{process.env.ROOT_DOMAIN}/about") About
      .content
        block content
      .footer
        .contact
          a.fa.fa-lg.fa-github(href="https://github.com/adamheins")
          a.fa.fa-lg.fa-envelope(href="mailto:mail@adamheins.com")
          a.fa.fa-lg.fa-linkedin(href="http://ca.linkedin.com/in/adamwheins")
        .credit Adam Heins &copy 2016
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    block scripts
