extends layout

include mixins/sources

block header
  meta(name="description", content="Git repository for #{repo.name}.")
  title Repositories - #{repo.name}

block styles
  +prismcss

block scripts
  +prismjs

block content
  h1 #[a(href="#{process.env.HOST}") REPOSITORIES] - #[a(href="#{repo.webUrl}") #{repo.nameUpper}]
  article
    pre(class="language-none")
      code git clone #{repo.cloneUrl}
    pre(class="language-none")
      code Latest commit (#{lastCommit.sha.short}) by #{lastCommit.author} on #{lastCommit.date}.
    pre(class="language-none")
      code
        ul.bare
          each entry in repo.entries
            li
              a(href=entry.url)= entry.name
    section
      div!= repo.readme
