extends layout

block header
  meta(name="description", content="Git repository for #{repo.name}.")
  title= repo.name

block styles
  link(rel="stylesheet", href="#{process.env.STATIC_HOST}/css/prism.css")

block scripts
  script(src="#{process.env.STATIC_HOST}/js/prism.js")

block content
  article
    pre(class="language-none")
      code git clone #{repo.url}
    pre(class="language-none")
      code Latest commit (#{sha.short}) by #{author} on #{date}.
    pre(class="language-none")
      code
        ul.bare
          each entry in entries
            li
              a(href=entry.url)= entry.name
    section
      div!= repo.readme
